.c-button{
    display: block;
    width: 100%;
    max-width: 200px;
    margin-top: 40px;
    padding: 18px 0;
    border-radius: 31px;
    background: $yellow;
    text-align: center;
    font-family: $font_acumin;
    font-weight: 700;
    font-size: 2rem;
    @include sp{
        margin-left: auto;
        margin-right: auto;
    }
    &--center{
    }
}

.c-button--line{
    display: block;
    position: relative;
    margin-top: 20px;
    padding-left: 62px;
    font-size: 2.0rem;
    line-height: (28 / 20);
    font-family: $font_acumin;
    @include sp{
        font-size: 1.8rem;
        padding-left: 50px;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 58px;
        height: 2px;
        background: $black;
        @include sp{
            width: 42px;
        }
    }
}