<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

                <main>
                    <section class="l-mv">
                        <div class="l-mv-inner">
                            <h1 class="l-mv-title">MOVE HEART.</h1>
                            <p class="l-mv-read">We don’t just make videos.
                                What we make is a videos, a videos that changes the “Future”.</p>
                        </div>
                        <ul class="sns-list">
                            <li class="sns-item"><a href=""><img src="../assets/img/icon_facebook.svg" alt="facebook"></a></li>
                            <li class="sns-item"><a href=""><img src="../assets/img/icon_instagram.svg" alt="instagram"></a></li>
                            <li class="sns-item"><a href=""><img src="../assets/img/icon_twitter.svg" alt="twitter"></a></li>
                        </ul>
                    </section>

                    <section class="about">
                        
                    </section>

                    <section class="service">
                        
                    </section>

                    <section class="works">
                        
                    </section>

                    <section class="news">

                    </section>

                    <section class="contact">

                    </section>
                </main>

            <%- include('../_include/_footer') %>
        </div>
    </body>

</html>