<footer class="l-footer">
    <div class="l-container">
        <div class="l-footer_contact">
            <h2 class="c-title--center">CONTACT</h2>
            <div class="c-textArea--center">
                <p class="c-textArea_text--big">

                </p>
                <a class="c-button--center" href="">CONTACT</a>
            </div>
        </div>

        <div class="l-footer-logo"><img src="../assets/img/logo_03@2x.png" alt="MOVE"></div>
        <ul class="l-footer_sns">
            <li><a href=""><img src="../assets/img/icon_facebook.svg" alt="facebook"></a></li>
            <li><a href=""><img src="../assets/img/icon_instagram.svg" alt="instagram"></a></li>
            <li><a href=""><img src="../assets/img/icon_twitter.svg" alt="twitter"></a></li>
        </ul>
        <nav class="l-footer-nav">
            <ul class="l-footer-nav_list">
                <li class="l-footer-nav_item"><a class="j-haeder_link" href="#top">TOP</a></li>
                <li class="l-footer-nav_item"><a class="j-haeder_link" href="#about">ABOUT</a></li>
                <li class="l-footer-nav_item"><a class="j-haeder_link" href="#service">SERVICE</a></li>
                <li class="l-footer-nav_item"><a class="j-haeder_link" href="#works">WORKS</a></li>
                <li class="l-footer-nav_item"><a class="j-haeder_link" href="#news">NEWS</a></li>
                <li class="l-footer-nav_item"><a class="j-haeder_link" href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <p class="l-footer_copy">©︎2021 asuma</p>
    </div>
            
</footer>