<header class="l-header j-header">
    <div class="l-header-logo"><a href=""><img src="../assets/img/logo_02@2x.png" alt="MOVE"></a></div>
    <div class="l-header-pageTitle">TOP</div>
    <button class="l-header_btn j-heder_btn">
        <div class="l-header_btn_hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="header_btn_text pc">
            <div class="l-header_btn_text_inner">
                <span>MENU</span>
                <span>CLOSE</span>
            </div>
        </div>
    </button>
    </div>
    
    <nav class="drawer-content ">
        <ul class="drawer-content_list">
            <li class="drawer-content_item"><a href="#top">TOP</a></li>
            <li class="drawer-content_item"><a href="#about">ABOUT</a></li>
            <li class="drawer-content_item"><a href="#service">SERVICE</a></li>
            <li class="drawer-content_item"><a href="#works">WORKS</a></li>
            <li class="drawer-content_item"><a href="#news">NEWS</a></li>
            <li class="drawer-content_item"><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>
</header>
