<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--IEを最新のモードで見せることができます-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>MOVE｜WEBCHIKA</title>
    <meta name="keywords" content="">　<!--以前検索エンジンにページごとの重要キーワードを伝えることができていた-->
    <meta name="description" content="あすまさんデザインカンプ">
    <meta property="og:type" content="website" />　<!--ページの種類　　↓（og）クリック率の上昇に伴うアクセス数の向上を期待-->
    <meta property="og:title" content="MOVE｜WEBCHIKA" /> <!--ページの タイトル-->
    <meta property="og:description" content="" /> <!--ページの説明文-->
    <meta property="og:url" content="" /> <!--ページの URL-->
    <meta property="og:site_name" content="WEBCHIKA" /> <!--ページの 名前-->
    <link rel="stylesheet" href="https://use.typekit.net/dph5vle.css">　<!--adobe fonts url-->

    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="./assets/js/script.js" defer></script>
</head>