.l-footer{
    padding-top: 90px;
    background: $yellow;
}

.l-footer_contact{
    padding: 60px 0 50px;
    background: $white;
}

.l-footer-logo{
    width: 138px;
}

.l-footer_sns{

}

.l-footer_nav{
    &_list{

    }
    &_item{

    }
}

.l-footer_copy{

}