.l-header{

}

.l-header-inner{
    display: flex;
    position: relative;
}

.l-header-logo{
    img{
        width: 160px;
    }
}

.l-header-text{

}

.drawer-icon{
    &_bar1{

    }
    &_bar2{

    }
    &_bar3{

    }
}

.drawer-icon_text{

}

.drawer-content{

}

.drawer-content_items{
    &_item{

    }
}

.drawer-background[

]