.l-mv{
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    @include sp{
        height: calc(100vh - 60px);
    }
    
    &-inner{
        background: url(../img/mv_bg.jpg)20% 65% / cover ;
        width: 100%;
        height: calc(100% - 80px);
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-family: $font_acumin;
        @include sp{
            background:url(../img/test.jpg)20% 65% /cover ;
        }
        
        h1{
            font-size: 9.2rem;
            @include sp{
                font-size: 4.8rem;
            }
        }
        
        p{
            font-size: 2.6rem;
            margin-top: 10px;
            line-height: (33.8 / 26);
            @include sp{
                font-size: 1.8rem;
                line-height: (23.4 / 18);
            }
        }
    }
    
    &_sns{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include sp{
            height: 60px;
        }
        li{
            width: 30px;
            &:not(:first-child){
               margin-left: 15px;
               @include sp{
                   margin-left: 26px;
               }
            }
        }
    }
}
    