.p-top_about{
    &_cont{
        @include pc{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_text{
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 432px;
            @include sp{
                margin: 0 auto;
            }
        }
        
        &_img{
            position: relative;
            max-width: 650px;
            width: calc(100% - 10% - 432px);
            @include sp{
                width: calc(100% - 10%);
                margin: 50px auto 0;
            }
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 10%;
                margin-right: 10%;
                width: 100%;
                height: 100%;
                background: $yellow;
                @include sp{
                    margin-top: 15px;
                    margin-right: 15px;
                }
            }
            img{
                position: relative;
                z-index: 1;
            }
        }
    }
    
}
////service/////
.p-top_service{
    &_cont{
        @include pc{
            display: flex;
            justify-content: space-between
        }
    }
    &_cmn{
        @include pc{
            max-width: 380px;
            width: 30%;
            margin-top: 0;
            &:nth-of-type(2){
                margin-top: 50px;
            }
            &:nth-of-type(3){
                margin-top: 100px;
            }
            @include sp{
                &:not(:first-child){
                    margin-top: 40px;
                }
            }
        }
    }
}

//////works/////
.p-top_works{
    background: $black;
    color: $white;
    &_cont{
        @include pc{
            display: flex;
            justify-content: space-between;
        }
        &_button{
            .c-button{
                margin-left: auto;
                margin-right: auto;
            }
        }
        &_main{
            @include pc{
                max-width: 680px;
                width: calc(680 / 1180 *100%);
            }
            .p-top_works_cont_cmn{
                &_tag{
                    margin-top: 14px;
                    li{
                        display: inline-block;
                        & + li{
                            margin-left: 16px;
                        }
                    }
                    a{
                        font-size: 1.4rem;
                        line-height: (28 / 14);
                        color: $white;
                        text-decoration: underline;
                    }
                }
                .c-textArea{
                    margin-top: 14px;
                    &_text{
                        max-width: 480px;
                    }
                }
            }
        }
        &_side{
            
            &_inner{
                
            }
        }
    }
    
}